.main {
    @apply bg-stone-100 bg-no-repeat bg-contain bg-opacity-90 bg-right flex flex-col justify-between content-center pl-24;
}
  
.infoPageSection {
    @apply bg-stone-100 flex flex-col justify-between content-center pl-24;
}
  
.banner{
    @apply flex flex-row w-screen bg-stone-800 bg-no-repeat bg-right bg-cover bg-opacity-90 mt-2.5;
    height: 29rem;
    background-image: url('/Gibraltar.svg');
}

.bannerLight{
    @apply flex flex-row w-screen bg-stone-200 py-16 pl-24 gap-x-16 content-center;
    height: 21rem;
}

.title{
    @apply text-stone-200 text-7xl ml-24 pt-56
}

.subtitle{
    @apply text-stone-700 text-4xl mt-16
}

.aboutUsTitle{
    @apply text-stone-700 text-4xl mt-14 mb-3.5
}

.paragraphLast{
    @apply w-1/2 text-lg text-stone-700 leading-relaxed mb-32
}

.paragraphRegular{
    @apply w-1/2 text-lg text-stone-700 leading-relaxed mb-4
}

.centeredTitle{
    @apply text-stone-700 mt-60 mb-6 text-5xl text-center w-2/3
}

  /*HomePageInfo: Home Page information title, paragraph and infographics*/
.infoTitle{
    @apply text-stone-700 mt-16 mb-4 text-2xl
}
  
.info{
    @apply text-stone-700 text-lg mr-96
}
  
.infoContainer{
    @apply flex flex-row mt-7 gap-x-10 mb-24
}
  
.infoBox{
    @apply w-56 h-36 text-stone-700 border-4 border-inherit border-dotted	rounded-xl p-4 pt-5 border-stone-700  
}
  
.infoBoxTitleContainer{
    @apply grid grid-cols-3;
}
  
.infoBoxTitle{
    @apply text-sm font-bold col-span-2;
    vertical-align: middle;
}
  
.infoBoxText{
    @apply text-xs
}
  
.glossaryTitle{
    @apply text-3xl text-stone-700 mb-10
}
  
.infoBoxImage{
    @apply ml-16;
}
  
.visaInfoBox{
    @apply w-96 h-40 text-stone-700 border-2 border-inherit border-solid rounded-xl p-4 pt-5 border-stone-300 bg-stone-200
}
  
.visaInfoBoxTitle{
    @apply text-lg font-bold col-span-2 mb-2.5;
    vertical-align: middle;
}
  
.visaInfoBoxText{
    @apply leading-relaxed
}

.infoCardTitle{
    @apply text-4xl text-stone-700;
}

.infoCardText{
    @apply text-lg text-stone-700 leading-relaxed mb-32 mt-2.5
}