.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.WorldMap{
  @apply justify-end  
}

.title{
  @apply text-stone-700 mb-5
}