.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.WorldMap{
  @apply justify-end  
}

.title{
  @apply text-stone-700 mb-4 text-4xl
}

.infoTitle{
  @apply text-stone-700 mt-20 mb-4 text-2xl
}

.info{
  @apply text-stone-700 text-lg mr-96
}