.SearchBarContainer{
    @apply rounded-2xl bg-stone-700 shadow-lg p-2 justify-start gap-x-16 inline-block;
    width: 46rem
}     

.CustomSearchBar{
    @apply inline-block justify-start relative;
    width: 20rem

}

.InputAndResults{
    /* @apply table  */
}

.Label{
    @apply mb-1.5 text-sm text-stone-600
}

.Input{
    @apply float-right w-10/12 p-2 py-4 font-light text-stone-600 border-transparent rounded-r-xl
}

.Button{
    @apply w-36 bg-stone-300 rounded-lg flex justify-center font-semibold text-sm leading-tight px-5 py-2.5 text-stone-600 hover:bg-stone-400 
}

.iconTag{
    @apply bg-stone-300 w-4/12 rounded-lg
}

.PassportImg{
    @apply mt-3 ml-3.5
}

.ScrollContentContainer{
    @apply mt-2 bg-stone-100 rounded-b-lg text-sm text-stone-600 justify-start list-none absolute;
    width: 97%
}

.CountryOption{
    @apply hover:bg-stone-200 py-1 pl-2.5
}

.CountryName{
    @apply break-words 
}

.CountryFlag{

}

