.main {
    @apply bg-stone-100 bg-no-repeat bg-contain bg-opacity-90 bg-right flex flex-col justify-between content-center pl-24;
}

.bannerHeader{
    @apply flex flex-row w-screen bg-stone-800 bg-no-repeat bg-left-top bg-opacity-90 mt-16 h-screen;
    /* height: 29rem; */
    background-image: url('/error.svg');
}

.bannerLight{
    @apply flex flex-row w-screen bg-stone-200 py-16 pl-24 gap-x-16 content-center;
    height: 21rem;
}

.errorName {
    @apply text-stone-300 text-9xl ml-80 pt-32
}

.title{
    @apply text-stone-200 text-7xl pt-56;
    margin-left: 27.5rem;
    width: 50rem;
}